# R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj

# usernames and passwords for db connections
database.csv

# confidential fishery dependent data
*confidential*

# old assessment archive
*archive*

# other species examples
*ATF*
*SHORTRAKER*

# folders
Data/
Documents/
Outside_Analyses/
EXTRAS/
Development_codes/
Code/
Images/

# large files
*RACE_CATCH*
*RACE_HAUL*
*IPHC_FISS_survey*
*IPHC_FISS_raw*
*trackoff*

# Don't track data
*.xlsx
*.xlsm
*.docx
*.pptx
*.Rdata

# Don't track binary or fig files
*.docx
*.pptx
*.pdf


# ignore shape files
shapefiles

# ignore zip files
*.zip

# Windows thumbnail cache files
Thumbs.db

# Don't track most of the SS3 outputs
*.p0*
*.p1*
*.b0*
*.b1*
*.r0*
*.r1*
*.std
*.htp
*.eva
*.tds
*.bar
*.cov
*.dep
*.hes
*.rpt
*.cpp
*.log
*.obj
*.tmp
*.ecm
*.mc2
*.mcm
*.hst
*.psv
*.ss_new
gradient.1
gradient.2
gradient.3
gradient.4
gradient.5
gradient.dat
rebuild.sso
echoinput.sso
SIS_table.sso
runnumber.ss
tmp_admb
variance
CumReport.sso
ParmTrace.sso
ss.cor
ss3.cor
ss.rep
ss3.rep
ss.par
ss3.par
*.exe
*.bat
ignored
*.sso
data/
data_old/
retrospectives/
LeaveOneOut/
loo/
MCMC/
MCMC_nuts/
output/
jitter/
llq/
mgmnt_scenarios/
mscen/
profile/
console.output.txt

